<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="learn javascript by www.liaoxuefeng.com">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
</head>

<body>
    <input type="text" id="url" placeholder="用户页的url，例如https://www.zhihu.com/people/starkwei" style="width:350px;">
    <button id="submit">开始抓取</button>
    <p id="notice"></p>
    <div id="movies">
        <ul>
            <li v-for="movie in movies">
            {{ movie.title }}{{ movie.rate }}{{ movie.url }}
            </li>
        </ul>
    </div>
</body>

<script src="/js/bundle.js"></script>
<script>
    
</script>
</html>
